* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif ;}
ul {list-style: none;}
li {list-style: none;}
a {text-decoration: none;
    color: white;}
/*-------header------*/
header{
    background-color: #FFD51D;
    text-align: center;}
.container{
    max-width: 1200px;
    margin: auto;}
.container ul ul{
    position: absolute;
    display: none;
    padding: 4px;
    margin: 0px;
    list-style: none;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    box-shadow: 0px 0px 0px gray;
}
.container ul ul a:hover{
    background-color: orange;
    color:white;
}
/*----------menu---------*/
nav{
    background-color: #000;}
nav ul{
    display:flex;
    justify-content: space-between;
    align-items: center;}
nav ul li {color: white;
    font-size: 12px;}
nav ul li:hover {background-color: rgb(240, 236, 20);}
nav ul li:nth-child(2) a {
    color: #ffffff;}
nav ul li:nth-child(2) i {
    color: #ffffff;
    font-size: 15px;}
nav ul li:nth-child(2):hover i {
    color: #eeeeee;
        font-size: 15px;}
nav ul li:nth-child(3) {
    position: relative;}
nav ul li:nth-child(3) input {
    height: 30px;
    width: 100%;
    border-radius: 5px;
    border: none;
    padding-left: 6px;
    outline: none;}
nav ul li:nth-child(3) i {
    position: absolute;
    font-size: 25px;
    right: 12px;
    color: #333;
    line-height: 30px;}
nav ul li:nth-child(4) button i{
    height: 25px;
    padding: 6px 8px 4px 6px;
    cursor: pointer;
    border: 1px solid rgb(49, 23, 23);}
nav ul li:nth-child(4) button:hover {
    background-color:rgb(126, 123, 123);}
nav ul li:nth-child(5) {
    text-align: center;}
nav ul li:nth-child(5):hover a {
    color: #000000;}
nav ul li:nth-child(2):hover a {
    color: #000000;}
nav ul li:nth-child(6) {
    text-align: center;}
nav ul li:nth-child(6):hover a {
    color: #000000;}
nav ul li:nth-child(7) {
    text-align: center;}
nav ul li:nth-child(7):hover a {
    color: #000000;}
nav ul li:nth-child(8) {
    text-align: center;}
nav ul li:nth-child(8):hover a {
    color: #000000;}
nav ul li:nth-child(9) {
    text-align: center;}
nav ul li:nth-child(9):hover a {
    color: #000000;}    
/*------menu-bar-------*/
article {
    width: 100%;
    min-height:900px;}
.menu-bar {
    background-color: #FED100;}
.menu-bar ul {
    display: flex;
    justify-content:space-between; }
.menu-bar ul li a {
    color: black;
    font-size: 13px;}
.menu-bar ul li a i {
    margin-right: 6px;
    font-size: 16px;}
.menu-bar ul li {
    padding: 12px 6px;}
.menu-bar ul li:hover {
    background-color:white;}
/*-------slider------*/
.slider-content-left{
    width:50%;float:left;
}
.slider-content-left a img{ width:100%;
    padding-left: 30px;}
.namesp {margin-top: 3px;
        margin-bottom:3px;
    margin-left:30px;}
.namesp a {color:blue;}
.tilte {color:black;
    font-size:30px;
    padding-bottom:5px;}
.tilte i {color:black;}
hr {opacity: 80%;}
.slider-content-right {width:50%;float:right;padding-right:300px;
}
.khungthongtin {background-color:blue;
    }
/*---------footer---------*/
.card-new {
    padding: 20px;
    margin:3px;
    text-align: left;
    max-width: 100%;
    background:
    #FED100;
    margin: 8px 12px 8px 12px ;
    min-height: 280px;}
.card {float: left;
    width: 25%;}
.card ul li a:hover{
    color: rgb(231, 8, 101);}
.card ul li a img:hover {box-shadow: 5px 5px 5px rgb(0, 0, 0); }
.card ul li a {color: black;}
h2 {color: rgb(74, 6, 83);}
